.search-group{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.panel{
    position: relative;
    display: table;
    border-collapse: separate;
}

.search-group input[type='text']{
    width: 100%;
    height: 44px;
    margin: 100px;
    padding: 0 120px 0 20px;
    border: 1px solid #ececec;
    border-radius: 4px;
    -webkit-appearance: none;
    transition: all .3s;
    background: #fafafa;
    position: relative;
    z-index: 3;
}
/* .inputSearch{
    position: relative;
    width: 600px;
    height: 35px;
    left: 350px;
    bottom: 47px;
    border-radius: 25px;
    text-align: left;
    height: 44px;
    margin: 0;
    padding: 0 70px 0 15px;
    
    -webkit-appearance: none;
   
    background: #fafafa;
   


} */

/* .btnSearch{
   border-radius:  0% 13% 15% 1% / 44% 42% 45% 1%;
   position: relative;
   width: 68px;
   color: white;
   border: 0px solid #205da7;
   background-color: #205da7;;
   height: 46px;
   bottom: 47px;
   
   left: 300px;
   cursor: pointer;
}
.btnSearch:hover{
    background-color: #4c73a1;
} */
